includes:
	- phpstan-baseline.neon

parameters:
    level: max

    paths:
        - query-validator
        - src

    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
