parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Iterator\\:\\:getChildren\\(\\)\\.$#"
			count: 1
			path: src/Scanner/Filter/Filter.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\\\Expr\\:\\:\\$name\\.$#"
			count: 1
			path: src/Tester/Visitor.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\\\Expr\\|PhpParser\\\\Node\\\\Identifier\\:\\:\\$name\\.$#"
			count: 1
			path: src/Tester/Visitor.php
