parameters:
	ignoreErrors:
		-
			message: "#^Dead catch \\- Exception is never thrown in the try block\\.$#"
			count: 1
			path: src/Config/Factory.php

		-
			message: "#^Instanceof between mixed and FilesystemIterator will always evaluate to false\\.$#"
			count: 1
			path: src/Scanner/Filter/Filter.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, mixed given\\.$#"
			count: 1
			path: src/Scanner/Filter/Filter.php

